__pycache__/
build/
dist/
workdir/*.*
workdir/*
release/
commandlinetools-linux-13114758_latest/
flutter_codebase.code-workspace
flutter_codebase/
localtonet.exe
call_logs.json
received_sms.json
*.zip
*.tar.gz
*.spec
*.py
lurkerx.exe
lurkerx